html, body { 
    box-sizing: border-box;
    margin: 0;
    background-color: #000000;
}

textarea:focus, input:focus{
    outline: none;
}

#tweaks {
    position: absolute;
    display: flex;
    flex-direction: column;
    /*align-items: start;*/
    background: black;
    z-index: 9999;
    color: green;
    padding: 20;
}
.info {
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
    background: black;
    z-index: 9999;
    color: green;
}
.info span {
    padding: 10px;
}

#chat-container {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
    bottom: 2rem;
    left: 0;
}

#chat-form {
    width: 50vw;
    display: flex;
    border-radius: 5rem;
    background: rgb(43 43 43 / 62%);
    /* background: black; */
    border: 1px solid white;
    padding-left: 3rem;
    /* padding-right: 3rem; */
    font-weight: bold;
    backdrop-filter: blur(15px);
}

#chat-input {
    flex-grow: 1;
    background: transparent;
    border: 0;
    color: white;
}

#chat-send {
    height: 3rem;
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 5rem;
    border: 5px solid transparent;
    margin: 5px;
    color: white;
    background: rgb(144 144 144 / 62%);
    backdrop-filter: blur(15px);
}
