@import "tailwindcss";

@theme {
    --color-primary: white;
    --border-radius: 5rem;
    --blur: 15px;
    --size: 
}

html, body { 
    box-sizing: border-box;
    margin: 0;
    background-color: #000000;
}

textarea:focus, input:focus{
    outline: none;
}

#tweaks {
    position: absolute;
    display: flex;
    flex-direction: column;
    /*align-items: start;*/
    background: black;
    z-index: 9999;
    color: green;
    padding: 20;
}
.info {
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
    background: black;
    z-index: 9999;
    font-size: x-small;
    color: rgb(255 255 255 / 60%);
}

.info span {
    padding: 10px;
}

#chat-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    bottom: 0;
    padding-bottom: 1rem;
    left: 0;
    padding-top: 6rem;
    background: transparent;
    background: linear-gradient(180deg, 
    rgba(255, 255, 255, 0) 0%, 
    rgba(0, 0, 0, 0.95) 55%);
}

#chat-form {
    width: 50vw;
    display: flex;
    border-radius: var(--border-radius);
    border: 1px solid rgb(255 255 255 / 30%);
    /* background: black; */
    padding-left: 1.6rem;
    /* padding-right: 3rem; */
    font-weight: bold;
    align-items: center;
    backdrop-filter: blur(15px);
}

#chat-input {
    flex-grow: 1;
    background: transparent;
    border: 0;
    font-size: 16px;
    color: white;
}

#chat-send, button {
    height: 3rem;
    padding: 5px 15px;
    font-weight: bold;
    border-radius: var(--border-radius);
    border: 5px solid transparent;
    margin: 5px;
    color: white;
    border: 1px solid rgb(255 255 255 / 2%);
    /* background: rgb(144 144 144 / 25%); */
    background: rgb(255 255 255 / 10%);
    /* backdrop-filter: blur(5px); */
}

.img-prompt-container {
    padding: .5rem;
    max-width: 50vw;
    color: rgb(255 255 255 / 80%);
    font-size: x-small;
}

button {
    border: 1px solid rgb(255 255 255 / 20%);
    background: rgb(255 255 255 / 30%);
    backdrop-filter: blur(5px);
    cursor: pointer;
}

#loader {
    display: none;
    border: .2rem solid rgb(255 255 255 / 20%); /* Light grey */
    border-top: .2rem solid rgb(255 255 255 / 50%); /* Blue */
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
